testScons/obj/*
*.*~
*~
testScons/helloworld
/testScons/.sconsign.dblite
/testMakeDep/dep/*
/testMakeDep/obj/*


/CSharpTest/ConsoleApplication1/Debug
/CSharpTest/UnitTestProject1/bin
/CSharpTest/UnitTestProject1/obj
*.opensdf
*.sdf
CSharpTest/UnitTestProject1/bin/*
*.user
*.suo

*.exe
*.ilk
*.pdb
*.pdb
